# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled TypeScript files
*.js

# Ignore environment variables
.env

# Ignore prettier config
.prettierrc

# Ignore personal credentials file
credentials.txt

